@import url(./tables/index.css);
@import url(./browser.css);
@import url(./workspace.css);
@import url(./text.css);
@import url(./structure.css);
@import url(./icons.css);

@import url(./modext.css);

input.x-static-text-field {
    background: transparent;
    border: none;
    color: inherit;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

textarea.x-form-field {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
}

th.x-form-element, td.x-form-element {
    padding-left: 0;    
}

.x-menu a {
	text-decoration: none !important;
}
.unpublished { font-style: italic; }
.bold { font-weight: bold; }
.deleted {
	font-style: italic;
	color: red !important;
}
.deleted a span {
	color: #CC3333 !important;
	text-decoration: line-through !important;
}
.hidemenu a span { color: gray !important; }

.error { color: red !important; }

.folder .x-tree-node-icon {
	background-image:url(../../../assets/ext2/resources/images/default/tree/folder.gif) !important;	
}

.tree ul, .tree ul li { 
	list-style: none;
}


.x-grid3-header {
    background: transparent url(../../../assets/ext2/resources/images/default/grid/grid3-hrow.gif) !important;
}
