/*
.x-tree-selected {
    background-color: #cbd8b7 !important;
}

.x-grid3-row-selected {
    background-color: #cbd8b7 !important;
    border-color: #929c82 !important;
}

.x-form-focus, textarea.x-form-focus {
    border-color: #929c82 !important;
}


h2 {
    margin: 0 0 1em;
    font: bold 1.6em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #404933;
    border-bottom: 1px solid #d1dac2;
}

h3 {
    margin: 0 0 .8em;
    font: bold 1.3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
*/

.not-installed {
    color: red;
}

.red { color: red !important; }
.green { color: green !important; }
