@import url(./navbar2.css);
@import url(./corners.css);
@import url(./tabs.css);
@import url(./dashboard.css);

html, body {
    background-color: #2c2c2c !important;
}
body {
    color: #5c5c5c;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#modx-trees-ct {
    float: left;
    width: 25%;
    /*padding: 10px;*/
    background-color: #d3d2d3;
}

.modx-accordion .x-accordion-hd {
	background: #d3d2d3;
	}
.modx-accordion .x-panel-header {
	border-bottom: 1px solid #aeaeae;
    font-weight: bold;
	}

.modx-tree .x-toolbar {
	background: #fff;
	border: 1px solid #fff;
	}
	
#modAB {
	position: fixed;
	right: 9px;
	top: 14px;
	text-align: right;
	z-index: 400;
	border-width: 1px;
	border-style: solid;
	border-color: #c9c8c9;
	}
#modAB .x-toolbar {
	background: #fff;
	border: 1px solid #fff;
	}
#modx-frame-ct {
    float: left;
    width: 65%;
    height: 100%;
    /*padding: 10px; */
    background-color: #2c2c2c;
    margin-left: 1.4em;
    }
#modx_content_div {
	height: 100%;
	background-color: #2c2c2c;
}
#modx-inner-container {
	height: 100%;
    background-color: #d3d2d3;
}
body.ext-safari { margin-right: -15px; padding-right: 15px; }

.modx-container {
    background-color: #2c2c2c;
    height: 100%;
}
.modx-content {
	/*height: 100%;*/
	height: auto;
	}
.modx-header {
	background-color: #2c2c2c;
	}
#leftgreennav {
	position: absolute;
	left: 0;
	top: 11px;
    background: left url(../../images/style/leftgreennav.png);
    height: 66px;
    width: 32px;
    border: 1px solid green;
    float: left;
    z-index: 600;
    }
#leftgreennav a {
	width: 100%;
	height: 100%;
	}
#leftgreennav:hover { cursor: pointer; }
#rightlogin {
	position: absolute;
	top: 2px;
	right: 10px;
	line-height: 36px;
	height: 40px;
	text-align: right;
	vertical-align: middle;
	z-index: 600;
}
#rightlogin span {
    vertical-align: middle;
	}
#rightlogin a {
	color: #6c9a37;
	}
	
	
#modxlogo {
    position: absolute;
    top: 57px;
    right: 30px;
}
#modxlogo img {    
    width: 144px;
    height: 40px;
}