
.modx-tabs, .x-tab-panel-header {
    border-bottom: 0;
    background: #d3d2d3;
    }
.x-tab-panel-header .x-tab-strip-top{
   background: #d3d2d3 !important; padding-top:0!important;}
.x-tab-panel-header{background: #d3d2d3 !important;border-width:0!important;padding-bottom:0!important;}
.x-tab-panel-header .x-tab-strip-spacer,.x-tab-panel-footer-plain .x-tab-strip-spacer{
    background:#d3d2d3; 
    border-bottom: 0;
    height: 0;
}
.x-tab-panel-header .x-tab-strip-spacer{border-top:0 none;}
.x-tab-panel-footer .x-tab-strip-spacer{border-bottom:0 none;}
.x-tab-panel-footer .x-tab-strip-bottom{background: #d3d2d3 !important;padding-bottom:0!important;}
.x-tab-panel-footer{background: #d3d2d3 !important;border-width:0!important;padding-top:0!important;}
.x-tab-strip-top .x-tab-strip-inner, .x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left {
    background: #3c3c3c;
}
.x-tab-strip-top .x-tab-strip-text {
    color: #f0f0f0 !important;
    }
.x-tab-strip-top .x-tab-strip-active .x-tab-strip-text {
    color: #2c2c2c !important;
    font-weight: normal;
    }
.x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner,
        .x-tab-strip-top .x-tab-strip-active .x-tab-right,
        .x-tab-strip-top .x-tab-strip-active .x-tab-left {
    background: #fff !important;
}
.x-layout-panel .x-tabs-wrap {
    background: #d3d2d3;
}