
table.classy {
    border-spacing: 0;
    margin: .3em;
    /*border: 1px solid #677579;
    border-width: 1px 0 0;*/
    padding: 0 6px;
    width: 100%;
}

table.classynoborder {
    border: none;   
}

table.classy tr {
    background-color: #d9e3f2;
}

table.classy thead td,
table.classy thead th,
table.classy tfoot td,
table.classy tfoot th {
    border-bottom: 1px solid #D8E1E3;
    padding: .2em;
    color: #273F58;
    font-weight: normal;
    font-size: 1.2em;
}

table.classy tfoot td,
table.classy tfoot th {
    color: #3d4b5f;
    font-weight: bold;
}

table.classy tfoot input {
    cursor: pointer;
}


table.classy tbody tr.odd {
   /* background-color: #d2e0f0; */
}

table.classy tbody th,
table.classy tbody td {
    border: 1px solid #D6E9F3;
    border-width: 0 0 1px;
    padding: .3em .5em;
}

table.classy tbody th {
    border-right: 0;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    font-size: 1.2em;
    color: #3d4b5f;
}

table.classy tbody td {
    border-left: 0;
    font-size: 1.1em;
}

table.classy tbody span {
    display: block;
    font-size: .9em;
    color: #777;
}

/*
table.classy tbody tr:hover td,
table.classy tbody tr:hover th {
    background-color: #fcfbcf;
}
*/