/* structure */

.title {
	font-size: 1.4em;
	color: #707070;
	font-weight: bold;
}

/* forms */
div.labelHolder {
    clear: both;
}

div.labelHolder input {
    width: 200px;
}

label, input[type=button] {
	cursor: pointer;
}
label {
    width: 20em;
    float: left;
    display: block;
}


/* tables */
table.options {
	width: 100%;
	font-size: .9em;
}
table.options tbody th {
	font-weight: normal;
	text-align: left;
	width: 40%;
}
table.options th img {
	text-align: left;
	margin: 0 .5em;
	float: left;
}
table.options label {
    width: auto;
}
table.options td,table.options th {
	padding-top: 1em;
}
table.options td {
	vertical-align: top;
}

/* misc styles */
.smalltext {
	font-size: .7em;
	color: #99CD00;
	background-color: #000;
}
.right { float: right; }
.left { float: left; }

.center { text-align: center; }
.center img { margin: 0 auto; }


/* error */

#modx_error {
    display: none;
	margin: .1em;
	padding: .4em;
	z-index: 999;
	opacity: 0;
	filter: alpha(opacity=0);
}

#modx_error h2 {
	margin: 0;
	padding-top: 0;
	font-size: 1em;
	font-weight: bold;
	padding-left: .3em;
	background-color: red;
	color: #fff;
}

#modx_error a {
	color: #fff;
	text-decoration: none;
}

#modx_error a:hover {
	text-decoration: underline;
}

#modx_error .close {
	float: right;
	font-size: 10px;
	vertical-align: middle;
	height: 100%;
}

#modx_error .content {
	clear: left;
	padding-left: 2em;
	margin: 0 auto;
}

.field_error {
    font-size:0.8em;
    color: red;
}
.ok, .notok { 
	color: green;
	font-weight: bold;
}	
.notok { color: red; }

.error {
    border: 1px solid red;
    background-color: #f8c7c7;
}
.success {
    background-color: #99cd00;
}

