/* grid: make cells bigger */
.x-grid3-cell-inner, .x-grid3-hd-inner{
    padding:5px 5px 5px 7px;
}
.x-grid3-cell-text, .x-grid3-hd-text {
    padding: 5px 7px 5px 7px;
}
.x-small-editor .x-form-field {
    padding: 5px 5px 1px 5px;
}
.x-small-editor .x-form-field-wrap .x-form-trigger {
    height: 23px;
}
.x-grid3-row-expander { 
    height: 23px;
}
.x-grid3-row-collapsed .x-grid3-row-expander {
    background-position: 4px;
}
.x-grid3-row-expanded .x-grid3-row-expander {
    background-position:-21px 4px;
}

/* form : checkboxes : cursor point */
.x-form-check:hover {
    cursor: pointer;
}